@{
    ViewBag.Title = "Index";
}

<button id="get-cars">Get cars</button>

<ul id="cars">
    <li class="car">
        <div class="image">
            <img src="http://buyersguide.caranddriver.com/media/assets/submodel/7528.jpg" alt="Photo of {}" />
        </div>
        <div class="description">
            <p class="model"><span class="light-text">Model:</span> Aston Martin</p>
            <p class="year"><span class="light-text">Years:</span> 2016</p>
            <p class="ration"><span class="light-text">Ration:</span> 9.9</p>
        </div>
    </li>
    <li class="car">
        <div class="image">
            <img src="http://buyersguide.caranddriver.com/media/assets/submodel/5824.jpg" alt="Photo of {}" />
        </div>
        <div class="description">
            <p class="model"><span class="light-text">Model:</span> Audi R8</p>
            <p class="year"><span class="light-text">Years:</span> 2010</p>
            <p class="ration"><span class="light-text">Ration:</span> 8.0</p>
        </div>
    </li>
    <li class="car">
        <div class="image">
            <img src="http://pictures.topspeed.com/IMG/crop/201203/koenigsegg-agera-r-3_800x0w.jpg" alt="Photo of {}" />
        </div>
        <div class="description">
            <p class="model"><span class="light-text">Model:</span> Koenigsegg</p>
            <p class="year"><span class="light-text">Years:</span> 2012</p>
            <p class="ration"><span class="light-text">Ration:</span> 7.7</p>
        </div>
    </li>
    <li class="car">
        <div class="image">
            <img src="http://o.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/430x242/quality/85/http://o.aolcdn.com/commerce/autodata/images/USC50FOC051B021001.jpg" alt="Photo of {}" />
        </div>
        <div class="description">
            <p class="model"><span class="light-text">Model:</span> Ford Mustang</p>
            <p class="year"><span class="light-text">Years:</span> 2016</p>
            <p class="ration"><span class="light-text">Ration:</span> 9.9</p>
        </div>
    </li>
    <li class="car">
        <div class="image">
            <img src="http://o.aolcdn.com/dims-global/dims3/GLOB/legacy_thumbnail/430x242/quality/85/http://o.aolcdn.com/commerce/autodata/images/USC50FOC051B021001.jpg" alt="Photo of {}" />
        </div>
        <div class="description">
            <p class="model"><span class="light-text">Model:</span> Ford Mustang</p>
            <p class="year"><span class="light-text">Years:</span> 2016</p>
            <p class="ration"><span class="light-text">Ration:</span> 9.9</p>
        </div>
    </li>
    <li class="car">
        <div class="image">
            <img src="http://pictures.topspeed.com/IMG/crop/201203/koenigsegg-agera-r-3_800x0w.jpg" alt="Photo of {}" />
        </div>
        <div class="description">
            <p class="model"><span class="light-text">Model:</span> Koenigsegg</p>
            <p class="year"><span class="light-text">Years:</span> 2012</p>
            <p class="ration"><span class="light-text">Ration:</span> 7.7</p>
        </div>
    </li>
</ul>
